#
body{
    background-color: beige;
}
p{
    color: crimson;
    font-size: large;
    margin: auto;
    text-align: center;
}
li{
    color: darkred;
    padding-top: 0ch;
    text-align: center;
    font-size: large;
}
img{
    size-adjust: 50;
    align-items: center;
}
h1{
    color: darkmagenta;
    text-align: center;
}
h2{
    text-align: center;
}
a{
    text-align: center;
}
